body{
    background-color: #011425;
    font-family: verdana;
    background-image: url(/portifolio/fotos/kimi\ no\ wa\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section {
    background-image: url(/portifolio/fotos/kimi\ no\ wa.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    width: 300px;
    padding: 100px;
    margin: 5% auto;
    box-shadow: 2px 3px 1px 4px transparent;
    border-radius: 10px;

a {
    color: #FFF;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 5px 1px black;
    border-radius: 8px;
    transition: background-color 0.3s;
    background-color:transparent;
    padding: 5px;
}
a:hover{
    background-color: #9abdce;
}