body {
  background-color: #d6c292;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff1cf;
  text-shadow: #000 1px 1px 3px;
  font-family: verdana;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
form {
  background-color: #678c99;
  border: 1px solid #678c99;
  padding: 100px;
  width: 450px;
  border-radius: 8px;
  box-shadow: black 5px 6px 18px 4px;
  flex-direction: column;
}
h1 {
  text-decoration: underline;
}

textarea{
  border-radius: 10px;
  box-shadow: #000 2px 2px 5px px;
}

input[type="email"] {
  width: 200px;
  border-radius: 8px;
}

label {
  text-decoration: underline 2px;
}

input {
  margin: 15px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"] {
  width: 300px;
  height: 25px;
  box-shadow: #000 2px 2px 4px 1px;
  border: none;
  border-radius: 8px;
}

h1 {
  text-shadow: #000 1px 1px 3px;
}

input[type="submit"] {
  color: #fff1cf;
  border-color: #000;
  background-color: #678c99;
  width: 120px;
  padding: 15px;
  box-shadow: 2px 2px 5px 1px #000;
  font-size: large;
  border-radius: 7px;
  font-weight: bold;
  text-decoration: underline 2px;
}

input[type="email"] {
  width: 300px;
  height: 25px;
  box-shadow: #000 2px 2px 4px 1px;
  border: none;
}
input[type="number"] {
  width: 300px;
  height: 25px;
  box-shadow: #000 2px 2px 4px 1px;
  border: none;
  border-radius: 8px;
}
input[type="password"] {
  width: 300px;
  height: 25px;
  box-shadow: #000 2px 2px 4px 1px;
  border: none;
  border-radius: 8px;
}
input[type="button"] {
  color: #e3e8cd;
  border-color: #000;
  background-color: #037256;
  width: 120px;
  padding: 15px;
  box-shadow: 2px 2px 5px 1px #000;
  font-size: large;
  border-radius: 7px;
  font-weight: bold;
  text-decoration: underline 2px;
}
